{% extends "layout.html" %}
{% block content %}


<script type="text/javascript">
  $(function() {
    $("#fhir_search_form").submit(function() {
         var queryparams = {};

         var family = $('input[name="lastName"]'   ).val();
         if (family) { queryparams['family'] = family; }

         var given  = $('input[name="firstName"]'  ).val();
         if (given) { queryparams['given'] = given; }

         var address = $('input[name="address"]'    ).val();
         if (address) { queryparams['address'] = address; }

         var qualification = $('input[name="credential"]' ).val();
         if (qualification) {queryparams['qualification'] = qualification; }

         var specialty =  $('input[name="specialty"]'  ).val();
         if (specialty) {queryparams['specialty:text'] = specialty; }
         queryparams['page'] = 1;
         queryparams['_count'] = pageSize;

         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "nppes/Practitioner",
            contentType: "application/json; charset=utf-8",
            data: queryparams,
            beforeSend: function(xhr) {
              $('#fquery').val(this.type + " " + window.location.host + "/" + this.url);
            },
            success: function(data) {
              update_table(data);
            }
          });
        });
      $('#nextBtn').click(function() {
         $('#fquery').val("GET " + nextUrl);
         $.ajax({
            type: "GET",
            url: nextUrl,
            //url: $SCRIPT_ROOT + "nppes/Practitioner",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              update_table(data);
            }
          });      
        });
      $('#prevBtn').click(function() {
         $('#fquery').val("GET " + prevUrl);
         params = QueryStringToHash(prevUrl);
         //itemCount = params['page'] * pageSize;
         $.ajax({
            type: "GET",
            url: prevUrl,
            //url: $SCRIPT_ROOT + "nppes/Practitioner",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              update_table(data);
            }
          });      
        });      
    });
  //});

  function update_table (data) {
      //this does no error checking or validation at all. Fix me.
      $('#example').DataTable().clear();
      //itemCount = data.startfrom;
      for (var i = 0; i<data.entry.length; i++) {
          //itemCount = itemCount + 1;
          var doc = data.entry[i].resource;
          specs = getSpecialties(doc);
          $('#example').DataTable().row.add( [
            //itemCount,
            doc.id,
            doc.name.given[0],
            doc.name.family[0],
            doc.name.suffix[0],
            doc.address.line[0] + "<br>" + doc.address.city + " " + doc.address.state,
            doc.telecom[0].value, //need to validate that it's the Direct Address!
            specs.spec1,
            specs.spec2
          ]);
      }
      $('#example').DataTable().draw();
      $('#hits').val(data.total);
      //$('#msec').val(data.time);

      //find the next and prev page links
      if (data.hasOwnProperty('link')) {
        nextUrl = get_link(data.link, "next");
        prevUrl = get_link(data.link, "prev");
      } else {
        nextUrl = ""
        prevUrl = ""
      }

      if (nextUrl == '') { 
        $('#nextBtn').prop("disabled", true);
      } else {
        $('#nextBtn').prop("disabled", false);        
      }
      if (prevUrl == '') { 
        $('#prevBtn').prop("disabled", true);
      } else {
        $('#prevBtn').prop("disabled", false);        
      }
  }

  function getSpecialties(doc) {
    var spec1 = ""
    var spec2 = ""
    if (doc.hasOwnProperty('practitionerRole')) {
      pr = doc.practitionerRole[0];
      if (pr.hasOwnProperty('specialty')) {
        spec1 = pr.specialty[0].text;
        if (pr.specialty.length > 1) {
          spec2 = pr.specialty[1].text;
        }
      } 
    }
    return { 'spec1':spec1, 'spec2':spec2 }
  }

  function get_link (links, relation) {
    // find the desired link relation, if present
    for (var i=0; i<links.length; i++) {
      if (links[i].relation.toUpperCase() == relation.toUpperCase()) {
        return links[i].url;
      }
    }
    return ""
  }

//not currently using this, but keep it around in case!
var QueryStringToHash = function QueryStringToHash  (query) {
  //borrowed from @Quentin (Stack Overflow)
  var query_string = {};
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    pair[0] = decodeURIComponent(pair[0]);
    pair[1] = decodeURIComponent(pair[1]);
      // If first entry with this name
    if (typeof query_string[pair[0]] === "undefined") {
      query_string[pair[0]] = pair[1];
      // If second entry with this name
    } else if (typeof query_string[pair[0]] === "string") {
      var arr = [ query_string[pair[0]], pair[1] ];
      query_string[pair[0]] = arr;
      // If third or later entry with this name
    } else {
      query_string[pair[0]].push(pair[1]);
    }
  } 
  return query_string;
};


  //globals?
  //var itemCount = 0
  var pageSize = 15

  $(document).ready(function() {
    
    $('#example').DataTable( {
      paging: false,
      searching: false,
      ordering: false
    });

    $('#example tbody').on('click', 'tr', function () {
        var npi = $('td', this).eq(0).text();
        $.ajax({
            url: $SCRIPT_ROOT + "nppes/Practitioner/" + npi,
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              alert(JSON.stringify(data));
            }
          });
     });

  });

</script>

<head>
  <style>
    label { display: inline-block; width: 100px; text-align: right; }
  </style>

<form id="fhir_search_form" onsubmit="return false">
<fieldset style="padding:5px">
<legend><bold>Search for a provider - enter name and/or address (street, city, state,) credential, or specialty</bold></legend>
  <label for="lastName" style="padding-right:10px">Last Name:</label><input type="text" size="30" id="lastName" name="lastName" style="padding:5px">
  <br>
  <label for="firstName" style="padding-right:10px">First Name:</label><input type="text" size="30" id="firstName" name="firstName" style="padding:5px">
  <br>
  <label for="address" style="padding-right:10px">Address:</label><input type="text" size="30" id="address" name="address" style="padding:5px">
  <br>
  <label for="credential" style="padding-right:10px">Credential:</label><input type="text" size="30" id="credential" name="credential" style="padding:5px">
  <br>
  <label for="specialty" style="padding-right:10px">Specialty:</label><input type="text" size="30" id="specialty" name="specialty" style="padding:5px">
  <br>
  <br>
  <button type="button" id="prevBtn" name = "prevBtn" style="padding:8px"><--Prev</button>
  <button type="submit" id="submitBtn" name="submitBtn" style="padding:12px">Find Providers</button>
  <button type="button" id="nextBtn" name = "nextBtn" style="padding:8px">Next--></button>
</fieldset>
</form>

</form>
<form id ="stats">
<label style="padding-right:10px">Hits:</label>
  <input type="text" size="20" id="hits" name="hits" style="font-size:14px"  readonly>
<label style="padding-right:0px; padding-left:10px">mSec:</label>
  <input type="text" size="12" id="msec" name="msec" style="font-size:14px"  readonly>
<br>
<label style="padding-right:10px; bottom:20px; position:relative" >FHIR Query:</label>
  <!-- <input type="text" size = "100" rows="2" id="fquery" style="font-size:14px" readonly>  -->
  <textarea id="fquery" rows="2" cols="100" style="resize:none; font-size:14px; margin-top:5px;
      background-color: #fbdadf; font-style:bold" disabled="true"></textarea>
</form>

<strong><div id="echoResult"></div>Matching Providers</strong>
<table id="example" class="display compact" cellspacing="0" width="100%" style="font-size:14px">
        <col width="15">
        <col width="20">
        <col width="30">
        <col width="10">
        <col width="50">
        <col width="30">
        <col width="30">
        <col width="30">       
        <thead>
            <tr>
                <th style="width:15">&nbsp;NPI&nbsp;</th>
                <th style="width:20">First Name</th>
                <th style="width:30">Last Name</th>
                <th style="width:10">Credential</th>
                <th style="width:40">Address</th>
                <th>Direct</th>
                <th style="width:30">Specialty</th>
                <th style="width:20">Sub-specialty</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>&nbsp;NPI&nbsp;</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Credential</th>
                <th>Address</th>
                <th>Direct</th>
                <th>Specialty</th>
                <th>Sub-specialty</th>
            </tr>
        </tfoot>
    </table>
</head>
{% endblock %}
